<!doctype html>
<form action="/createAccount/submit" method="post">
	<p>Organization Name</p>
	<input type="text" name="orgName"><br>
	
	<p>Organization Email</p>
	<input type="text" name="orgEmail"><br>

	<p>Password</p>
	<input type="password" name="orgPassword"><br>

	<p>Confirm Password</p>
	<input type="password" name="orgConfirmPassword"><br>

	<p>Administration</p>
	<input type="checkbox" name="admin" value="true">Adminstration Account<br>

	<button type="submit">Finish</button>
</form>