<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Event Snap - Search</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../public/css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
   <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="homePage.html">Events Snap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="eventSearch.html">All Events</a>
                    </li>
                    <li>
                        <a href="calendar.html">Calendar</a>
                    </li>


<style>
.dropdown {
    position: relative;
    display: inline-block;
	padding-top: 13px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	color: black;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>



<li>
<div class="dropdown">
<a> COLLEGE</a>
  <div class="dropdown-content">
    <a href="eventSearch.html" style=" color: black;" >ERC</a>
	<a href="eventSearch.html" style=" color: black;" >Marshall</a>
    <a href="eventSearch.html" style=" color: black;" >Muir</a>
    <a href="eventSearch.html" style=" color: black;" >Revelle</a>
    <a href="eventSearch.html" style=" color: black;" >Sixth</a>
    <a href="eventSearch.html" style=" color: black;" >Warren</a>
    <a href="eventSearch.html" style=" color: black;" >Price Center</a>
    <a href="eventSearch.html" style=" color: black;" >Off Campus</a>
  </div>
</div>
</li>

	 				<li>
                        <a href="login.html">Sign In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<br>
	<h2> <center>Search </center><h2>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
						<br>
                        <style>
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
			color: black;
            background-color: white;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            width: 90%;
        }   
    </style>

    <form>
        <center><input type="text" name="search" placeholder="Search for an event or organization . . ."></center>
    </form>

					</div>
                </div>
            </div>
        </div>
    </header>

</body>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                        	EVENT 1
						</h2>
                        <h3 class="post-subtitle">
                        	Details <br>
							Date <br>
							Location <br>
							Time <br>
							Link to Social Media <br>
						</h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Organization</a> Date</p>
                </div>
             	<hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                        	EVENT 2
						</h2>
                        <h3 class="post-subtitle">
                        	Details <br>
							Date <br>
							Location <br>
							Time <br>
							Link to Social Media <br>
						</h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Organization</a> Date</p></div>
                <hr>

			</div>


                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                        	EVENT 3
						</h2>
                        <h3 class="post-subtitle">
                        	Details <br>
							Date <br>
							Location <br>
							Time <br>
							Link to Social Media <br>
						</h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Organization</a> Date</p></div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                        	EVENT 4
						</h2>
                        <h3 class="post-subtitle">
                        	Details <br>
							Date <br>
							Location <br>
							Time <br>
							Link to Social Media <br>
						</h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Organization</a> Date</p></div>

                <hr>

    <!-- Footer -->
    <footer>
                    <p class="copyright text-muted">Copyright &copy; Banana Bandits 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../public/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../public/vendor/bootstrap/js/jqBootstrapValidation.js"></script>
    <script src="../public/vendor/bootstrap/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../public/vendor/bootstrap/js/clean-blog.min.js"></script>

</body>

</html>
