<!doctype html>
<h1>{{ title }}</h1>
<form action="/login/submit" method="post">
    <p id="enterEmail">Email</p> 
	<input type="text" name="email"><br>

	<p id="enterPassword">Password</p>
	<input type="password" name="password"><br>

	<button type="submit">Login</button>
</form>

<form action="/forgetPassword">
	<button id="forgotPassword">Forgot Password</button>
</form>

<div>
<form action="/createAccount">
	<button id="createAccount">Create Account</button>
</form><br>

</div>
<form action="/listAccounts">
	<button id="listAccount">List Accounts</button>
</form>

