<!doctype html>
<body>
<script>
  function requireLogin() {
    window.alert("Please login first.");
    window.location.href='/login';
  }
  window.onload = requireLogin();
  </script>
</body>
</html>
