<!DOCTYPE html>
<html>
<style>
form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 2px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

button:hover {
    opacity: 0.8;
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
</style>
<body>

<h2><center>Sign In</center></h2>

<form action="/action_page.php">
    <center> 
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required> 
	<br>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br> 
    <button type="submit">Login</button>
	<br>
    <input type="checkbox" checked="checked"> Remember me
	<br>
	</center>

    <p>Forgot <a href="#">password?</a></p>
    <p>Not a member? <a href="#">Sign Up</a></p>
</form>

</body>
</html>



